<div id="<%= dom_id task %>">
  <p>
    <strong>Name:</strong>
    <%= task.name %>
  </p>

  <p>
    <strong>Subject:</strong>
    <%= task.subject %>
  </p>

  <p>
    <strong>Due:</strong>
    <%= task.due %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= task.notes %>
  </p>

</div>
